In [12]:
import pandas as pd
import numpy as np

coin_name = "KRW-XRP"
df = pd.read_csv('./data/{}.csv'.format(coin_name))
df = df.sort_values(by='timestamp', ascending=True)
columns={'timestamp':'t', 'openingPrice':'o', 'highPrice':'h', 'lowPrice':'l', 'tradePrice':'c', 'candleAccTradeVolume':'v'}
df = df.rename(columns=columns)
df.shape

(200000, 6)

In [13]:
##### 단순 이동평균 계산

from ta.trend import SMAIndicator
df['sma7'] = SMAIndicator(df['c'], window=7).sma_indicator()
df['sma14'] = SMAIndicator(df['c'], window=25).sma_indicator()
df['sma99'] = SMAIndicator(df['c'], window=99).sma_indicator()
df.head(10)

,t,o,h,l,c,v,sma7,sma14,sma99
199999,2022-06-27 02:59:58.157,475,475,474,475,20126.578879,NaN,NaN,NaN
199998,2022-06-27 03:00:51.753,475,475,474,475,29957.209487,NaN,NaN,NaN
199997,2022-06-27 03:01:58.524,475,475,473,473,444851.548350,NaN,NaN,NaN
199996,2022-06-27 03:02:55.011,474,474,473,473,43375.023395,NaN,NaN,NaN
199995,2022-06-27 03:03:56.585,474,474,473,474,77662.435502,NaN,NaN,NaN
199994,2022-06-27 03:04:58.367,473,474,473,474,16319.230333,NaN,NaN,NaN
199993,2022-06-27 03:05:57.679,473,474,473,473,104986.212309,473.857143,NaN,NaN
199992,2022-06-27 03:06:55.225,473,474,473,473,25049.032369,473.571429,NaN,NaN
199991,2022-06-27 03:07:52.191,474,474,473,473,45735.386421,473.285714,NaN,NaN
199990,2022-06-27 03:08:55.935,473,474,473,473,49756.252846,473.285714,NaN,NaN

In [14]:
##### 가중 이동평균 계산

from ta.trend import WMAIndicator
df['wma7'] = WMAIndicator(df['c'], window=7).wma()
df['wma25'] = WMAIndicator(df['c'], window=25).wma()
df['wma99'] = WMAIndicator(df['c'], window=99).wma()
df.head(10)

,t,o,h,l,c,v,sma7,sma14,sma99,wma7,wma25,wma99
199999,2022-06-27 02:59:58.157,475,475,474,475,20126.578879,NaN,NaN,NaN,NaN,NaN,NaN
199998,2022-06-27 03:00:51.753,475,475,474,475,29957.209487,NaN,NaN,NaN,NaN,NaN,NaN
199997,2022-06-27 03:01:58.524,475,475,473,473,444851.548350,NaN,NaN,NaN,NaN,NaN,NaN
199996,2022-06-27 03:02:55.011,474,474,473,473,43375.023395,NaN,NaN,NaN,NaN,NaN,NaN
199995,2022-06-27 03:03:56.585,474,474,473,474,77662.435502,NaN,NaN,NaN,NaN,NaN,NaN
199994,2022-06-27 03:04:58.367,473,474,473,474,16319.230333,NaN,NaN,NaN,NaN,NaN,NaN
199993,2022-06-27 03:05:57.679,473,474,473,473,104986.212309,473.857143,NaN,NaN,473.607143,NaN,NaN
199992,2022-06-27 03:06:55.225,473,474,473,473,25049.032369,473.571429,NaN,NaN,473.392857,NaN,NaN
199991,2022-06-27 03:07:52.191,474,474,473,473,45735.386421,473.285714,NaN,NaN,473.250000,NaN,NaN
199990,2022-06-27 03:08:55.935,473,474,473,473,49756.252846,473.285714,NaN,NaN,473.178571,NaN,NaN

In [15]:
##### 지수 이동평균 계산

from ta.trend import EMAIndicator
df['ema7'] = EMAIndicator(df['c'], window=7).ema_indicator()
df['ema25'] = EMAIndicator(df['c'], window=25).ema_indicator()
df['ema99'] = EMAIndicator(df['c'], window=99).ema_indicator()
df.head(10)

,t,o,h,l,c,v,sma7,sma14,sma99,wma7,wma25,wma99,ema7,ema25,ema99
199999,2022-06-27 02:59:58.157,475,475,474,475,20126.578879,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
199998,2022-06-27 03:00:51.753,475,475,474,475,29957.209487,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
199997,2022-06-27 03:01:58.524,475,475,473,473,444851.548350,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
199996,2022-06-27 03:02:55.011,474,474,473,473,43375.023395,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
199995,2022-06-27 03:03:56.585,474,474,473,474,77662.435502,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
199994,2022-06-27 03:04:58.367,473,474,473,474,16319.230333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
199993,2022-06-27 03:05:57.679,473,474,473,473,104986.212309,473.857143,NaN,NaN,473.607143,NaN,NaN,473.802734,NaN,NaN
199992,2022-06-27 03:06:55.225,473,474,473,473,25049.032369,473.571429,NaN,NaN,473.392857,NaN,NaN,473.602051,NaN,NaN
199991,2022-06-27 03:07:52.191,474,474,473,473,45735.386421,473.285714,NaN,NaN,473.250000,NaN,NaN,473.451538,NaN,NaN
199990,2022-06-27 03:08:55.935,473,474,473,473,49756.252846,473.285714,NaN,NaN,473.178571,NaN,NaN,473.338654,NaN,NaN

In [16]:
##### MACD 계산

from ta.trend import MACD
macd = MACD(df['c'], window_slow=26, window_fast=12, window_sign=9)
df['macd'] = macd.macd()
df['macd_s'] = macd.macd_signal()
df['macd_d'] = macd.macd_diff()
df.tail(10)

,t,o,h,l,c,v,sma7,sma14,sma99,wma7,wma25,wma99,ema7,ema25,ema99,macd,macd_s,macd_d
9,2022-11-12 23:50:59.163,505,506,504,505,269828.006362,504.285714,503.72,506.363636,504.464286,503.984615,505.682424,504.441184,504.367585,505.511742,-0.116770,-0.350542,0.233772
8,2022-11-12 23:51:51.600,505,506,504,505,66546.914684,504.428571,503.68,506.363636,504.642857,504.083077,505.655152,504.580888,504.416233,505.501507,-0.050225,-0.290479,0.240254
7,2022-11-12 23:52:58.925,505,506,505,505,94998.610566,504.571429,503.72,506.363636,504.785714,504.184615,505.627879,504.685666,504.461138,505.491477,0.002485,-0.231886,0.234371
6,2022-11-12 23:53:57.608,506,506,504,505,176121.636866,504.714286,503.84,506.353535,504.892857,504.283077,505.600606,504.764249,504.502589,505.481647,0.043753,-0.176758,0.220511
5,2022-11-12 23:54:59.653,505,506,504,505,62284.306706,504.857143,503.96,506.343434,504.964286,504.372308,505.573535,504.823187,504.540851,505.472014,0.075587,-0.126289,0.201876
4,2022-11-12 23:55:55.622,504,506,504,506,159032.745820,505.142857,504.16,506.343434,505.250000,504.529231,505.566667,505.117390,504.653093,505.482574,0.179439,-0.065144,0.244583
3,2022-11-12 23:56:59.913,505,506,505,505,53007.464504,505.142857,504.24,506.333333,505.214286,504.593846,505.539798,505.088043,504.679778,505.472922,0.178988,-0.016317,0.195305
2,2022-11-12 23:57:54.534,505,506,505,505,92763.941789,505.142857,504.32,506.313131,505.178571,504.652308,505.513131,505.066032,504.704411,505.463464,0.176594,0.022265,0.154329
1,2022-11-12 23:58:59.075,505,506,505,506,41075.180579,505.285714,504.40,506.292929,505.392857,504.781538,505.506869,505.299524,504.804072,505.474195,0.252478,0.068308,0.184171
0,2022-11-13 00:00:00.053,506,506,505,506,189184.690673,505.428571,504.52,506.282828,505.571429,504.904615,505.501010,505.474643,504.896066,505.484711,0.309055,0.116457,0.192598

In [17]:
##### RSI 계산
from ta.momentum import RSIIndicator
df['rsi7'] = RSIIndicator(df['c'], window=7).rsi()
df['rsi14'] = RSIIndicator(df['c'], window=14).rsi()
df['rsi28'] = RSIIndicator(df['c'], window=28).rsi()
df.head(10)

,t,o,h,l,c,v,sma7,sma14,sma99,wma7,...,wma99,ema7,ema25,ema99,macd,macd_s,macd_d,rsi7,rsi14,rsi28
199999,2022-06-27 02:59:58.157,475,475,474,475,20126.578879,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
199998,2022-06-27 03:00:51.753,475,475,474,475,29957.209487,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
199997,2022-06-27 03:01:58.524,475,475,473,473,444851.548350,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
199996,2022-06-27 03:02:55.011,474,474,473,473,43375.023395,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
199995,2022-06-27 03:03:56.585,474,474,473,474,77662.435502,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
199994,2022-06-27 03:04:58.367,473,474,473,474,16319.230333,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
199993,2022-06-27 03:05:57.679,473,474,473,473,104986.212309,473.857143,NaN,NaN,473.607143,...,NaN,473.802734,NaN,NaN,NaN,NaN,NaN,26.10626,NaN,NaN
199992,2022-06-27 03:06:55.225,473,474,473,473,25049.032369,473.571429,NaN,NaN,473.392857,...,NaN,473.602051,NaN,NaN,NaN,NaN,NaN,26.10626,NaN,NaN
199991,2022-06-27 03:07:52.191,474,474,473,473,45735.386421,473.285714,NaN,NaN,473.250000,...,NaN,473.451538,NaN,NaN,NaN,NaN,NaN,26.10626,NaN,NaN
199990,2022-06-27 03:08:55.935,473,474,473,473,49756.252846,473.285714,NaN,NaN,473.178571,...,NaN,473.338654,NaN,NaN,NaN,NaN,NaN,26.10626,NaN,NaN

In [18]:
##### StochRSI 계산
from ta.momentum import StochRSIIndicator
stochRSI = StochRSIIndicator(df['c'], window=14, smooth1=3, smooth2=3)
df['srsi'] = stochRSI.stochrsi()
df['srsik'] = stochRSI.stochrsi_k()
df['srsid'] = stochRSI.stochrsi_d()
df.tail(10)

,t,o,h,l,c,v,sma7,sma14,sma99,wma7,...,ema99,macd,macd_s,macd_d,rsi7,rsi14,rsi28,srsi,srsik,srsid
9,2022-11-12 23:50:59.163,505,506,504,505,269828.006362,504.285714,503.72,506.363636,504.464286,...,505.511742,-0.116770,-0.350542,0.233772,71.111510,55.547545,49.693535,1.000000,0.838466,0.676931
8,2022-11-12 23:51:51.600,505,506,504,505,66546.914684,504.428571,503.68,506.363636,504.642857,...,505.501507,-0.050225,-0.290479,0.240254,71.111510,55.547545,49.693535,1.000000,1.000000,0.838466
7,2022-11-12 23:52:58.925,505,506,505,505,94998.610566,504.571429,503.72,506.363636,504.785714,...,505.491477,0.002485,-0.231886,0.234371,71.111510,55.547545,49.693535,1.000000,1.000000,0.946155
6,2022-11-12 23:53:57.608,506,506,504,505,176121.636866,504.714286,503.84,506.353535,504.892857,...,505.481647,0.043753,-0.176758,0.220511,71.111510,55.547545,49.693535,1.000000,1.000000,1.000000
5,2022-11-12 23:54:59.653,505,506,504,505,62284.306706,504.857143,503.96,506.343434,504.964286,...,505.472014,0.075587,-0.126289,0.201876,71.111510,55.547545,49.693535,1.000000,1.000000,1.000000
4,2022-11-12 23:55:55.622,504,506,504,506,159032.745820,505.142857,504.16,506.343434,505.250000,...,505.482574,0.179439,-0.065144,0.244583,85.941417,64.586953,53.672554,1.000000,1.000000,1.000000
3,2022-11-12 23:56:59.913,505,506,505,505,53007.464504,505.142857,504.24,506.333333,505.214286,...,505.472922,0.178988,-0.016317,0.195305,53.750058,52.983888,49.603800,0.345803,0.781934,0.927311
2,2022-11-12 23:57:54.534,505,506,505,505,92763.941789,505.142857,504.32,506.313131,505.178571,...,505.463464,0.176594,0.022265,0.154329,53.750058,52.983888,49.603800,0.345803,0.563869,0.781934
1,2022-11-12 23:58:59.075,505,506,505,506,41075.180579,505.285714,504.40,506.292929,505.392857,...,505.474195,0.252478,0.068308,0.184171,69.367569,61.090709,53.402705,0.802877,0.498161,0.614655
0,2022-11-13 00:00:00.053,506,506,505,506,189184.690673,505.428571,504.52,506.282828,505.571429,...,505.484711,0.309055,0.116457,0.192598,69.367569,61.090709,53.402705,0.802877,0.650519,0.570850

In [19]:
##### Bollinger Bands 계산

from ta.volatility import BollingerBands
bb = BollingerBands(df['c'], window=20, window_dev=2)
df['bh'] = bb.bollinger_hband() #high band
df['bhi'] = bb.bollinger_hband_indicator() #high band 보다 가격이 높으면 1, 아니면 0
df['bl'] = bb.bollinger_lband() #low band
df['bli'] = bb.bollinger_lband_indicator() #low band 보다 가격이 낮으면 1, 아니면 0
df['bm'] = bb.bollinger_mavg() #middle band
df['bw'] = bb.bollinger_wband() #band width
df.tail(10)

,t,o,h,l,c,v,sma7,sma14,sma99,wma7,...,rsi28,srsi,srsik,srsid,bh,bhi,bl,bli,bm,bw
9,2022-11-12 23:50:59.163,505,506,504,505,269828.006362,504.285714,503.72,506.363636,504.464286,...,49.693535,1.000000,0.838466,0.676931,505.149000,0.0,502.651000,0.0,503.90,0.495733
8,2022-11-12 23:51:51.600,505,506,504,505,66546.914684,504.428571,503.68,506.363636,504.642857,...,49.693535,1.000000,1.000000,0.838466,505.264911,0.0,502.735089,0.0,504.00,0.501949
7,2022-11-12 23:52:58.925,505,506,505,505,94998.610566,504.571429,503.72,506.363636,504.785714,...,49.693535,1.000000,1.000000,0.946155,505.349000,0.0,502.851000,0.0,504.10,0.495536
6,2022-11-12 23:53:57.608,506,506,504,505,176121.636866,504.714286,503.84,506.353535,504.892857,...,49.693535,1.000000,1.000000,1.000000,505.457670,0.0,502.842330,0.0,504.15,0.518762
5,2022-11-12 23:54:59.653,505,506,504,505,62284.306706,504.857143,503.96,506.343434,504.964286,...,49.693535,1.000000,1.000000,1.000000,505.494990,0.0,503.005010,0.0,504.25,0.493799
4,2022-11-12 23:55:55.622,504,506,504,506,159032.745820,505.142857,504.16,506.343434,505.250000,...,53.672554,1.000000,1.000000,1.000000,505.726650,1.0,503.073350,0.0,504.40,0.526031
3,2022-11-12 23:56:59.913,505,506,505,505,53007.464504,505.142857,504.24,506.333333,505.214286,...,49.603800,0.345803,0.781934,0.927311,505.683216,0.0,503.316784,0.0,504.50,0.469065
2,2022-11-12 23:57:54.534,505,506,505,505,92763.941789,505.142857,504.32,506.313131,505.178571,...,49.603800,0.345803,0.563869,0.781934,505.728983,0.0,503.371017,0.0,504.55,0.467340
1,2022-11-12 23:58:59.075,505,506,505,506,41075.180579,505.285714,504.40,506.292929,505.392857,...,53.402705,0.802877,0.498161,0.614655,505.957670,1.0,503.342330,0.0,504.65,0.518248
0,2022-11-13 00:00:00.053,506,506,505,506,189184.690673,505.428571,504.52,506.282828,505.571429,...,53.402705,0.802877,0.650519,0.570850,506.146424,0.0,503.353576,0.0,504.75,0.553313

In [20]:
##### VWAP 계산
from ta.volume import VolumeWeightedAveragePrice
vwap = VolumeWeightedAveragePrice(high=df['h'], low=df['l'], close=df['c'], volume=df['v'], window=14)
df['vwap'] = vwap.volume_weighted_average_price()
df.tail(10)

,t,o,h,l,c,v,sma7,sma14,sma99,wma7,...,srsi,srsik,srsid,bh,bhi,bl,bli,bm,bw,vwap
9,2022-11-12 23:50:59.163,505,506,504,505,269828.006362,504.285714,503.72,506.363636,504.464286,...,1.000000,0.838466,0.676931,505.149000,0.0,502.651000,0.0,503.90,0.495733,504.211597
8,2022-11-12 23:51:51.600,505,506,504,505,66546.914684,504.428571,503.68,506.363636,504.642857,...,1.000000,1.000000,0.838466,505.264911,0.0,502.735089,0.0,504.00,0.501949,504.283198
7,2022-11-12 23:52:58.925,505,506,505,505,94998.610566,504.571429,503.72,506.363636,504.785714,...,1.000000,1.000000,0.946155,505.349000,0.0,502.851000,0.0,504.10,0.495536,504.360406
6,2022-11-12 23:53:57.608,506,506,504,505,176121.636866,504.714286,503.84,506.353535,504.892857,...,1.000000,1.000000,1.000000,505.457670,0.0,502.842330,0.0,504.15,0.518762,504.463314
5,2022-11-12 23:54:59.653,505,506,504,505,62284.306706,504.857143,503.96,506.343434,504.964286,...,1.000000,1.000000,1.000000,505.494990,0.0,503.005010,0.0,504.25,0.493799,504.485711
4,2022-11-12 23:55:55.622,504,506,504,506,159032.745820,505.142857,504.16,506.343434,505.250000,...,1.000000,1.000000,1.000000,505.726650,1.0,503.073350,0.0,504.40,0.526031,504.549896
3,2022-11-12 23:56:59.913,505,506,505,505,53007.464504,505.142857,504.24,506.333333,505.214286,...,0.345803,0.781934,0.927311,505.683216,0.0,503.316784,0.0,504.50,0.469065,504.652404
2,2022-11-12 23:57:54.534,505,506,505,505,92763.941789,505.142857,504.32,506.313131,505.178571,...,0.345803,0.563869,0.781934,505.728983,0.0,503.371017,0.0,504.55,0.467340,504.725321
1,2022-11-12 23:58:59.075,505,506,505,506,41075.180579,505.285714,504.40,506.292929,505.392857,...,0.802877,0.498161,0.614655,505.957670,1.0,503.342330,0.0,504.65,0.518248,504.783608
0,2022-11-13 00:00:00.053,506,506,505,506,189184.690673,505.428571,504.52,506.282828,505.571429,...,0.802877,0.650519,0.570850,506.146424,0.0,503.353576,0.0,504.75,0.553313,504.963739

In [21]:
df = df.dropna()
df.columns

Index(['t', 'o', 'h', 'l', 'c', 'v', 'sma7', 'sma14', 'sma99', 'wma7', 'wma25',
       'wma99', 'ema7', 'ema25', 'ema99', 'macd', 'macd_s', 'macd_d', 'rsi7',
       'rsi14', 'rsi28', 'srsi', 'srsik', 'srsid', 'bh', 'bhi', 'bl', 'bli',
       'bm', 'bw', 'vwap'],
      dtype='object')

In [22]:
df.to_csv('./data/{}-index.csv'.format(coin_name))